* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

img.logoBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    top: 20%;
    left: 5%;
}

body {
    background-color: rgb(14, 14, 14);
}

hr {
    width: 50%;
    margin-left: 25%;
    margin: 20px auto;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

main {
    margin-top: 7%;
    margin-left: 4%;
    background-color: white;
    height: 80%;
    width: 90%;
    opacity: 0.8;
    border-radius: 30px;
    padding: 20px;   
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    background-color: rgb(14,14,14);
    z-index: 2;
    box-shadow: 0 0 10px white;
}

img.logo {
    position: fixed;
    height: 45px;
    margin: 4px;
}

nav>ul {
    display: flex;
    justify-content: center;
}

a.menuList {
    text-decoration: none;
    text-decoration-color: none;
    color: white;
    margin: 4px;
    padding: 7px;
    border: 1px solid green;
    box-shadow: 0 0 4px green;
    display: inline-block;
}

a.menuList:hover {
    color: green;
    background-color: white;
    transition-duration: 1s;
}

li.menuItem {
    list-style-type: none;
}

h1, h2, h3 {
    color: rgb(105,66,15);
    text-align: center;
}

p {
    color: rgb(8,55,65);
    margin: 0 200px;
    line-height: 1.5em;
    text-align: center;
}

span.name {
    color: red;
}

span.command {
    color: green;
    font-family: monospace;
}

code {
    font-family: monospace;
    width: 50%;
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(14, 14, 14);
    color: white;
}